<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/BraucheeinPsychologe/3D-Printer-Monitor-for-Galaxy-Watch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="com.yourname.3dprinter" package="com.yourname.3dprinter" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.240.240"/>
    <icon src="icon.png"/>
    <name>3D Printer Monitor</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
</widget>
